<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>Kiosk</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Wei_Kien</name>
    <email>ng_wei_kien@artc.a-star.edu.sg</email>
  </author>

  <description>
    Description of the model
  </description>
</model>
