<?xml version='1.0'?>
<model>
  <name>DRC Vehicle XP900</name>
  <version>0.1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>John Hsu</name>
    <email>hsu@osrfoundation.org</email>
  </author>

  <description>
    This model approximates the Polaris Ranger XP900.
  </description>

  <depend>
    <model>
      <uri>model://polaris_ranger_xp900</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
