<launch>
  <!--This file is for a simple a "client" running gazebo-->
  <arg name="viz_config_file" default="$(find-pkg-share demos)/include/box_world/box_world.rviz"/>

  <include file="$(find-pkg-share visualizer)/visualizer.xml">
    <arg name="map_name" value="L1"/>
    <arg name="viz_config_file" value ="$(var viz_config_file)"/>
  </include>
</launch>