<?xml version="1.0"?>

<model>
  <name>Pond</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Wei Kien Ng</name>
    <email>ng_wei_kien@artc.a-star.edu.sg</email>
  </author>

  <description>
	A cherry blossom growing on concrete. Amazing. 
  </description>
</model>
